# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Virtual Environment
# ========================
ai_project/
venv/
env/

# ========================
# Dataset (BIG FILES)
# ========================
dataset/
weapon_detection/

# ========================
# YOLO Training Output
# ========================
runs/
src/runs/

# ========================
# Model Weights (Optional)
# ========================
*.pt

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Logs
# ========================
*.log

# ========================
# Environment Variables
# ========================
.env